extends layout

block body
  if error
    .error
      case error
        when 'timeout'
          h1.error__title Timeout
          .error__message
            p La page sur JVC mettait plus de #{timeoutDelay} secondes à charger, elle a était arrêtée.
            p
              a.button.button--cta.button--scale(href="/#{id}-#{slug}") Réessayer
        when 'network'
          h1.error__title Erreur réseau
          .error__message
            p La page n’a pas pu être récupérée depuis JVC. (#{errorDetail})
            p
              a.button.button--cta.button--scale(href="/#{id}-#{slug}") Réessayer
        when 'forumdoesNotExist'
          h1.error__title Forum inexistant
        when '103'
          h1.error__title Forum privé
          .error__message Ce forum est réservé aux modérateurs.
        when 'unknownRedirect'
          h1.error__title Problème inconnu avec ce topic
          .error__message Il redirige vers #{errorLocation}
